<nav class="navbar">
    <div class="container-fluid">
        <ul class="navbar-nav mx-auto mt-5 d-flex flex-row">
            <li class="nav-item mx-2">
                <a class="text-white nav-link display-6 text-decoration-none border border-3 p-1 rounded" routerLink="/home" routerLinkActive="bg-primary">HOME</a>
            </li>
            <li class="nav-item mx-2">
                <a class="text-white nav-link display-6 text-decoration-none border border-3 p-1 rounded" routerLink="/formatif" routerLinkActive="bg-primary">FORMATIVE</a>
            </li>
            <li class="nav-item mx-2">
                <a class="text-white nav-link display-6 text-decoration-none border border-3 p-1 rounded" routerLink="/recettes" routerLinkActive="bg-primary">RECIPES</a>
            </li>
            <li class="nav-item mx-2">
                <a class="text-white nav-link display-6 text-decoration-none border border-3 p-1 rounded" routerLink="/jeux" routerLinkActive="bg-primary">GAME</a>
            </li>
            <li class="nav-item mx-2">
                <a class="text-white nav-link display-6 text-decoration-none border border-3 p-1 rounded" routerLink="/contact" routerLinkActive="bg-primary">CONTACT</a>
            </li>
        </ul>
    </div>
  </nav>