<div class="container-fluid main">
    <div class="row">
        <div class="col-8 mx-auto bg-white my-4 rounded">
            <p class="display-5 text-center mt-1">CONTACT ME</p>
            <form>
                <div class="form-group mb-2">
                    <label for="name" class="form-label fw-bold">Name</label>
                    <input type="name" class="form-control" name="name" id="name" placeholder="Name" required>
                    <div class="form-text fw-bold">Please enter a REAL name</div>
                </div>
                <div class="form-group mb-2">
                    <label for="email" class="form-label fw-bold">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                    <div class="form-text fw-bold">We'll share you email with everyone</div>
                </div>
                <div class="form-group mb-3">
                    <label for="text" class="form-label fw-bold">Message</label>
                    <textarea class="form-control" name="text" id="text" placeholder="Write about anything, I won't read this part anyways"></textarea>
                </div>
                <div class="text-center mb-3">
                    <button class="btn btn-success w-25">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
</div>