body
{
    background-image : url("./app/images/sky.jpg") ;
    background-size : cover ;
}

.main
{
    background-image : linear-gradient(to bottom, blueviolet 30%, deeppink) ;
    min-height : 450px ;
}

#game
{
    background-color : green ;
    min-height : 450px ;
}

header
{
    background-image : url("./app/images/arcade.jpg");
    background-size : cover ;
    min-height : 180px ;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
