<div class="text-center main">
    <div class="container-fluid">
        <div class="row">
            <div class="col mt-3">
                <p class="display-2 bg-danger border-4 text-white border rounded">WELCOME TO MY WEBSITE</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="https://imgur.com/ptrJavm.gif" class="img-thumbnail" height="auto" width="550" alt="Michael and Dwight">
            </div>
        </div>
    </div>
</div>